<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    歌詞の考察を知りたい、広めたい
  </p>
  <h2 class='ad-footer-title'>
    日本で唯一の歌詞注釈サイト
  </h2>
</div>
<%# //下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>リリクスについて</h2>
      <ul class="footer-links">
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'リリクス利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='ririkusu-details margin'>
      <h2 class='footer-content-head'>リリクスを見る</h2>
      <ul class="footer-links">
        <li><%= link_to 'ジャンルー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'アーティスト一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='ririkusu-details'>
      <h2 class='footer-content-head'>リリクスガイド</h2>
      <ul class="footer-links">
        <li><%= link_to 'リリクスガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'リリクスロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("ririkusu-logo-white.png", class: "ririkusu-footer_icon"), "/" %>
  <p>© リリクス</p>
</div>