<div class="songs-main-contents">
  <header class="songs-main-header">
    <%= link_to image_tag("ririkusu-logo.png", class: "ririkusu-icon-new"), "/" %>
  </header>
 <div class="songs-main">
    <h2 class="songs-title">歌詞の情報を編集</h2>
      
   <%= form_with model: @song,url:song_path,local: true do |f| %>
   <%= render 'shared/error_messages', model: f.object %>
   
     <%# 商品名と商品説明 %>
      <div class="new-items">
       <div class="weight-bold-text">
         曲名
         <span class="indispensable">(必須)</span>
       </div>
        <%= f.text_area :name, class:"songs-text", id:"item-name" ,placeholder:"曲名 例）リリスクちゃん", maxlength:"40" %>
       <% @artist.each do |a|%>
       <div class="weight-bold-text">
         歌手名
         <span class="indispensable">(必須)</span>
       </div>
        <%= f.text_area :art_name, class:"songs-text", id:"item-name", value:a.art_name ,placeholder:"歌手名 例）perfurmer", maxlength:"40" %>
       <div class="weight-bold-text">
         プロデューサー
       </div>
       <%= f.text_area :producer, class:"songs-text", id:"item-name", value:a.producer ,placeholder:"例）中田ヤシタカ", maxlength:"40" %>
       <div class="weight-bold-text">
         コラボアーティスト
       </div>
        <%= f.text_area :featuring, class:"songs-text", id:"item-name", value:a.featuring ,placeholder:"例） 菅田正樹", maxlength:"40" %>
        <%end%>

       <div class="songs-explain">
         <div class="weight-bold-text">
           歌詞
           <span class="indispensable">(必須)</span>
         </div>
         <%= f.text_area :text, class:"songs-text", id:"item-info" ,rows:"7" ,maxlength:"5000" %>
       </div>
       <div class="songs-explain">
         <div class="weight-bold-text">
           和訳
         </div>
         <%= f.text_area :translate, class:"songs-text", id:"item-info" ,rows:"7" ,maxlength:"5000" %>
        </div>
      </div>
      <%# /商品名と商品説明 %>

      <%# 投稿画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
         曲のジャケット写真
         <span class="indispensable">(必須)</span>
        </div>
        <div class="click-upload">
         <div class="flex"> <%= image_tag @song.image,class:"preview-image" %>
          <%= f.file_field :image, id:"item-image" ,class:"fileupload" %></div>
          <p>
           写真を変更する場合はファイルをアップロード
          </p>
          <div id="image-list"></div>
        </div>
      </div>

     <%# /投稿画像 %>
      <div class="weight-bold-text">
        youtubeのurl
      </div>
      <%= f.text_area :youtube_url, class:"songs-text", id:"item-name", placeholder:"例）https://www.youtube.com/watch?v=DOEk-0MeQbI", maxlength:"100" %>
    
     <%# ジャンル %>
     <div class="songs-detail">
       <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
       </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
     </div>
     <%# /ジャンル%>
     <%# 注意書き %>
     <div class="caution">
       <p class="sentence">
        <a href="#">初めて投稿する人は、投稿ガイド</a>
        で書き方をチェックしてください。
       </p>
     </div>
     <%# /注意書き %>
     <%# 下部ボタン %>
     <div class="submit-btn-contents">
       <%= f.submit "更新する" ,class:"submit-btn", id:"submit" %>
       <%=link_to 'もどる', root_path, class:"back-btn" %>
     </div>
      <%# /下部ボタン %>
  </div>
  <% end %>
</div>
<%= render "shared/second-footer"%>
