<%= render "shared/header" %>
<div class='main'>
 <div class='song-contents'>
  <p>新着歌詞</p>
  <ul class='song-lists'>
 <% @songs.each do |song| %>
 <li class='song-list' >
 <%= link_to song_path(song.id) ,class:"show_link" do %>
  <div class='song-info'>
   <div class='song-image'>
     <%= image_tag song.image, class: "item-img" %>
   </div>
   <div class='song-name'>
     <%= song.name %>
   </div>
   <div class="song-art-name"><%song.artists.each do |a| %>
      <%=a.art_name%>
   <%end%></div>

  </div>
 <% end %>
 </li>
 <% end %>

 </ul>
 </div>
</div>
<%= render "shared/footer" %>