<%= render "shared/header" %>
<% if current_user %>
 <div class="hover"><%= link_to '歌詞を編集する',edit_song_path(@song.id), method: :get, class: "lyric-edit-btn" %></div>
 <% if current_user.id == 1%>
 <%= link_to '削除', song_path(@song.id), method: :delete %>
 <%end%> 
<%end%> 
<div class="background">
 <div class="bg-mask">
  <style>
  .background{
   background-image: url(<%= rails_representation_url(@song.image.variant({}), only_path: true) %>);
   background-position: center;
  }
  </style>
  <div class="song_contents">
   <div>
     <%= image_tag @song.image, class: "song_img" %>
   </div>
   <div class="song_names">
    <div class="song_name_text">
      <%= @song.name%>
    </div>
    <div>
     <%@song.artists.each do |art| %>
      <div class="art_name_text"><%= link_to artist_path(art.id) ,class:"show_link" do %><%=art.art_name%></div><%end%>
     <%end%>
     <div class="flex"><div class="art_sorrounded_text">コラボ with</div><div class="sorround_ppl"><%=@song.featuring.featuring_name%></div></div>
     <div class="flex"><div class="art_sorrounded_text">プロデューサー</div><div class="producer_show"><%= link_to producer_path(@song.producer.id) ,class:"show_link" do %><%=@song.producer.producer_name%></div><%end%></div>
     <div class="flex"><div class="art_sorrounded_text">ジャンル</div><div class="sorround_ppl"><%= @song.genre.name %></div></div>
   <div class="flex"><div class="art_sorrounded_text">リリース日</div><div class="sorround_ppl"><%= @song.sales_date%></div></div>
    </div>
    </div>
 </div>
</div>
</div> 
<div class= half>
<div class="song_text"><%= @song.text%></div> 
<div class="annotation_space"></div> 
</div> 
<%unless @song.translate == ""%>
 <div class="song_translate">
 <p>和訳</p>
 <%= @song.translate%>
 </div> 
<%end%> 
<div  class="youtube">
 <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @song.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div class="comment-box">
  <% if current_user %>
      <%= form_with(model: [@song, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2",class: "comment-text" %>
       <div class="hover"> <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button></div>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <% end %>
  <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>


  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
      <div id='comments'>
        <% @comments.reverse_each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <% if user_signed_in? && current_user.id == comment.user_id ||current_user.id ==1%>
            <i class="far fa-trash-alt trash-icon"></i><%= link_to '削除',  "/songs/#{@song.id}/comments/#{comment.id}", method: :delete %>
          <% end %>
          </p>
        <% end %>
      </div>
      <% end %>
  </div>
</div>

<div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
  
     <div class="flex"><div class="hover"> <%= link_to '曲を通報する', "#", method: :get, class:'report-song' %></div>
     <div class="hover"> <%= link_to 'コメントを通報する', "#", method: :get, class:'report-comment' %></div></div>

    <%= link_to "#" do %>
   <div class="hover"> <div class='annotation-btn'>
    <a href="#" class='annotation-btn-text'><p>注釈を追加する</p><i class="fas fa-marker fa-fw addannotation"></i></a>
   </div></div>
<%end%>
 <%= render "shared/footer" %>